body {
  height: 100%;
  margin: 0;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
}

.intro {

  text-align: center;
max-width: 100%;
  font-size: 1.5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://cdn.pixabay.com/photo/2020/06/30/12/45/paper-5356269_960_720.jpg');
  padding: 150px;

}

.btn {
  justify-content: center;
  background-color: black;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 50px;
}

.btn:hover {
  background-color: grey;
}

.row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
justify-content: center;
}

.column {
  flex: 25%;
  max-width: 25%;
padding: 2%;
}

.column img {
margin-top: 15%;
  vertical-align: middle;
  width: 100%;
  height: auto;
}
footer{
text-align: center;
}

.container {

  margin-top: 10%;
  position: relative;
}

/* Make the image to responsive */


/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;

  text-align: center;
}
.contact{
  text-align: center;
  background-color: black;
  color: white;
}
/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
   .intro{
    background-image: url('https://cdn.pixabay.com/photo/2020/06/30/12/45/paper-5356269_960_720.jpg');
    transform: rotate(90deg);
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
   .intro{
    background-image: url('https://cdn.pixabay.com/photo/2020/06/30/12/45/paper-5356269_960_720.jpg');
    transform: rotate(90deg);
  }
}
